# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
venv/
ENV/
env/
.Python
pip-log.txt
pip-delete-this-directory.txt

# FastAPI
*.log
*.sqlite3
*.db

# VS Code
.vscode/

# macOS
.DS_Store

# Docker
*.log
*.pid
*.seed
*.pid.lock
.env
docker-compose.override.yml

# Pytest
.cache/
.pytest_cache/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# Local virtual environments
local_env/